h3{
	text-align:center;
}
body{
	background-color:#fcc3da;
	font-family: 'Indie Flower', cursive;
}
/* Navbar */
nav{
	width: 100%;
	height: 60px;
	background-color: white;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
}
nav ul{
	list-style:none;
	display:flex;
	justify-content:flex-end;
}
ul li{
	height:50px;
	line-height:50px;
	padding: 0 10px;
}
li a{
	color:black;
	text-decoration: none;
}
h1, h2{
	color: #d81b60;
	text-align:center;
	margin:20px 0;
}
p, #a{
	margin:15px;
	text-align:center;
	display:block;
}
form{
	max-width:600px;
	margin:20px auto;
	padding:15px;
	background-color:#fff;
	border-radius:4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
form label{
	display:block;
	margin: 10px 0 5px;
	font-weight:bold;
}
form input[type="tel"], form input[type="email"]{
	width:100%
	padding:8px;
	margin-bottom:10px;
	border: 1px solid #ccc;
	border-radius:4px;
}
button, input[type="submit"]{
	background-color:#d81b60;
	color:#fff;
	border:none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor:pointer;
	transition: color 0.2s ease;
	display:block;
	margin: 20px auto;
}
button:hover, input[type="submit"]:hover{
	background-color:#b71c1c;
}
footer{
	border: 1px solid silver;
	background-color:#ffb6c1;
	padding:10px;
	text-align:center;
	margin-topp:20px;
	font-size:0.9em;
	line-height:1.4;
}
label{
	text-align: center;
}
.form-input{
	text-align: center;
}
.tbl {
        border-collapse:collapse;
        border-spacing:0;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
}
.tbl td{
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-size:14px;
        overflow:hidden; 
        padding:10px 5px;
        word-break:normal;
}
.tbl th{
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-size:16px;
        padding:10px 5px;
}
.tbl .opt{
        text-align:center;
        vertical-align:top;
}
.tbl .start{
        border-color:inherit;
        text-align:center;
        vertical-align:top;
}
